@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@1,9..40&family=DM+Serif+Display&display=swap');


body{
    background-color: #f3e5d8;   
    margin-top: 2%;
}
main{
    background-color: white;
    max-width: 1000px;
    margin: 0% auto;
    border-radius: 30px;
    text-align: center;
}
img{
    margin: 40px 0px;
    width: 930px;
    height: 300px;
    border-radius: 30px;
}
p{
    margin: 20px 0px;
    text-align: left; 
    font-family: "DM Sans";
    margin-left: 50px;
    overflow: auto; 
}   
h1{
    text-align: left;
    color: #824431;
    font-family: "DM Serif Display";
    margin-left: 50px;
}
.rosa{
    max-width: 90%;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #fff7fc;
    text-align: left;
    font-family: "DM Sans"
}
h2{
    color:#6b193b;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
}
div{
    text-align: left;
    font-family: "DM Sans";
    margin-left: 50px;
    overflow: auto;
}
h3{
    text-align: left;
    color: #824431;
    font-family: "DM Serif Display";
    margin-left: 50px;
}
hr{
    width: 900px;
}
.intro{
    padding: 5px 40px 10px 5px;
}
.NLI{
    list-style: decimal;
    padding: 5px;  
}
table{
    width: 900px;
    border: 5% ;
    border-collapse: collapse;
    margin: 0px 0px 20px 0px;
} 
td{
    border: 1px solid rgb(102, 104, 102);
    text-align: center;

}
    
